@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 5rem;
  height: 5rem;
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
  margin: auto;
}